footer{
    background-color: white;
    color:black;
   padding:0;
   margin: 0;
margin-top:10%;
width: 100%;
height:400px;
}
*{
    padding:0;
    margin: 0;
}
.Footer-Container{
    margin-top:6%;
    display:flex;
    padding:50px;
    justify-content:center;
    gap:200px;
    
    font-family: 'poppins';
    align-items: center;
}
.info1{
   
    display: flex;
    flex-direction: column;
    font-size:20px;


}
.info2{
   
    margin-top:40px;
    display: flex;
    flex-direction: column;
    font-size:20px;
    gap:5px;
    

}
h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;

}
.info3{
  
    display: flex;
    flex-direction: column;
    font-size:20px;
}
.Mentions{
    display: flex;
    justify-content: center;
    margin-top:52px;
    font-family: 'poppins';
    font-size: 20px;
}
